.cp1 {
  margin-left: 25vh;
  margin-top: 20px;
  width: 90%;
}

.cp2 {
  margin-left: 168vh;
  margin-top: -60vh;
  width: 30vh;
  outline: none;
}

.cp3 {
  margin-left: 20px;
  width: 25vh;
}

.cp4 {
  font-size: 23px;
  font-weight: bold;
}

.cp5 {
  margin-top: 7vh;
}

.cp6 {
  margin-top: 6vh;
}

.cp7 {
  font-size: 22px;
}

.icon:hover {
  cursor: pointer;
  font-size: 30px;
}

.casedesc {
  text-align: justify;
  line-height: 4.5vh;
  font-size: 19px;
  margin-left: 20vh;
  margin-top: 1vh;
  word-spacing: 7px;
  margin-right: 15vh;
  color: black;
  font-weight: 500;
}

.clawyer {
  margin-top: 0.1vh;
  margin-left: 2vh;
  font-size: 22px;
  font-weight: 600;
  color: rgb(0, 89, 255);
}

.clawyer:hover {
  margin-top: 0.1vh;
  margin-left: 2vh;
  font-size: 22px;
  color: rgb(0, 89, 255);
  cursor: pointer;
  font-weight: 600;
}

.ctitle {
  word-spacing: 1px;
  font-size: 22px;
  font-weight: bold;
}

.timeline {
  margin: 75px;
  margin-left: 1vh;
  margin-top: 7vh;
  margin-right: 8vw;
  height: 5px;
  margin-bottom: 17vh;
  background-color: rgb(0, 170, 255);
}

.timeline-progress {
  height: 100%;
}

.timeline-items {
  display: flex;
  justify-content: space-between;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -12px;
}

.timeline-item {
  position: relative;
}

.timeline-item::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid rgb(0, 170, 255);
  background-color: rgb(230, 230, 230);
  display: block;
  border-radius: 100%;
}

.timeline-content {
  position: absolute;
  color: #d91818;
  font-weight: bold;
  transform: rotate(270deg);
  font-size: 18px;
  top: 60px;
  margin-left: -2.5vw;
  width: 100px;
  text-align: left;
}

.timeline-item.active::before {
  border: 2px solid #d91818;
}

.timeline-item:hover::before {
  border: 2px solid #d91818;
}

.cpll1 {
  margin-bottom: 5vh;
  margin-left: 5vh;
  margin-top: 0vh;
  width: 50vh;
  color: white;
  font-weight: bold;
  font-size: 20px;
  background-color: rgb(50, 50, 50);
}

.cpll2 {
  margin-top: 3vh;
}

.cpll4 {
  margin-top: -10px;
  margin-left: 40px;
  word-spacing: 14px;
}

.cpll5 {
  margin-top: 20px;
  margin-left: 40px;
}

.cpll6,
.cpll7,
.cpll8,
.cpll9,
.cpll12 {
  margin-left: 40px;
}

.cpll13 {
  margin-left: 15px;
  letter-spacing: 1px;
}

.cpll14,
.cpll15,
.cpll17 {
  margin-left: 10px;
  letter-spacing: 1px;
}

.cpll16 {
  margin-left: 13px;
  letter-spacing: 0.5px;
}

.cpll18 {
  margin-left: 20px;
  letter-spacing: 0.5px;
}

.cpll10,
.cpll11 {
  margin-left: 73px;
  margin-top: -10px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.cpll19 {
  margin-left: 16vh;
  margin-top: 35vh;
}

.cpedit {
  margin-top: 10vh;
  margin-left: 65vh;
  margin-bottom: 7vh;
}
