@media only screen and (min-width: 320px) and (max-width: 479px) {
  .d {
    margin-left: 50vh;
    margin-top: 20vh;
  }

  .he1 {
    margin-left: 8vh;
    margin-top: 5vh;
    width: 50vh;
    font-family: Montserrat, "sans-serif";
    font-weight: 600;
  }

  .he2 {
    text-align: center;
  }

  .he3 {
    margin-top: 10vh;
  }

  .he10 {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .he12 {
    background-color: red;
    float: right;
  }

  .he13 {
    color: white;
  }

  .he20 {
    border: 2px solid blue;
    box-shadow: 2px 2px 2px 2px blue;
    margin-top: 3vh;
  }

  .he21 {
    float: left;
    margin-left: 10px;
  }

  .he14 {
    margin-right: 25px;
    width: 27vh;
  }

  .he15 {
    margin-right: 25px;
    width: 9vh;
  }

  .he22 {
    float: left;
    margin-left: 10px;
  }

  .he18 {
    width: 70px;
    margin-right: 10px;
  }

  .he25,
  .he24 {
    width: 93%;
    margin-left: 10px;
  }

  .he19 {
    width: 90px;
  }

  .he26 {
    float: left;
    margin-right: 10px;
  }

  .he28 {
    width: 70px;
  }

  .he30 {
    margin-left: 15vh;
  }

  .he31 {
    margin-top: 20px;
    margin-left: 16vh;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .d {
    margin-left: 50vh;
    margin-top: 20vh;
  }

  .he1 {
    margin-left: 8vh;
    margin-top: 5vh;
    width: 70vh;
    font-family: Montserrat, "sans-serif";
    font-weight: 600;
  }

  .he2 {
    text-align: center;
  }

  .he3 {
    margin-top: 10vh;
  }

  .he10 {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .he12 {
    background-color: red;
    float: right;
  }

  .he13 {
    color: white;
  }

  .he20 {
    border: 2px solid blue;
    box-shadow: 2px 2px 2px 2px blue;
    margin-top: 3vh;
  }

  .he21 {
    float: left;
    margin-left: 10px;
  }

  .he14 {
    margin-right: 25px;
    width: 40vh;
  }

  .he15 {
    width: 20vh;
  }

  .he22 {
    float: left;
    margin-left: 10px;
  }

  .he18 {
    width: 100px;
    margin-right: 60px;
  }

  .he25,
  .he24 {
    width: 93%;
    margin-left: 10px;
  }

  .he19 {
    width: 120px;
  }

  .he26 {
    float: left;
    margin-right: 50px;
  }

  .he28 {
    width: 120px;
  }

  .he30 {
    margin-left: 25vh;
  }

  .he31 {
    margin-top: 20px;
    margin-left: 24vh;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .d {
    margin-left: 50vh;
    margin-top: 20vh;
  }

  .he1 {
    margin-left: 8vh;
    margin-top: 5vh;
    width: 50vh;
    font-family: Montserrat, "sans-serif";
    font-weight: 600;
  }

  .he2 {
    text-align: center;
  }

  .he3 {
    margin-top: 10vh;
  }

  .he10 {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .he12 {
    background-color: red;
    float: right;
  }

  .he13 {
    color: white;
  }

  .he20 {
    border: 2px solid blue;
    box-shadow: 2px 2px 2px 2px blue;
    margin-top: 3vh;
  }

  .he21 {
    float: left;
    margin-left: 10px;
  }

  .he14 {
    margin-right: 25px;
    width: 30vh;
  }

  .he15 {
    width: 10vh;
  }

  .he22 {
    float: left;
    margin-left: 10px;
  }

  .he18 {
    width: 100px;
    margin-right: 60px;
  }

  .he25,
  .he24 {
    width: 93%;
    margin-left: 10px;
  }

  .he19 {
    width: 120px;
  }

  .he26 {
    float: left;
    margin-right: 50px;
  }

  .he28 {
    width: 120px;
  }

  .he30 {
    margin-left: 20vh;
  }

  .he31 {
    margin-top: 20px;
    margin-left: 20vh;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .d {
    margin-left: 50vh;
    margin-top: 20vh;
  }

  .he1 {
    margin-left: 11vh;
    margin-top: 5vh;
    width: 60vh;
    font-family: Montserrat, "sans-serif";
    font-weight: 600;
  }

  .he2 {
    text-align: center;
  }

  .he3 {
    margin-top: 10vh;
  }

  .he10 {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .he12 {
    background-color: red;
    float: right;
  }

  .he13 {
    color: white;
  }

  .he20 {
    border: 2px solid blue;
    box-shadow: 2px 2px 2px 2px blue;
    margin-top: 3vh;
  }

  .he21 {
    float: left;
    margin-left: 10px;
  }

  .he14 {
    margin-right: 25px;
    width: 30vh;
  }

  .he15 {
    width: 10vh;
  }

  .he22 {
    float: left;
    margin-left: 10px;
  }

  .he18 {
    width: 160px;
    margin-right: 60px;
  }

  .he25,
  .he24 {
    width: 93%;
    margin-left: 10px;
  }

  .he19 {
    width: 160px;
  }

  .he26 {
    float: left;
    margin-left: 40px;
    margin-right: 150px;
  }

  .he28 {
    width: 160px;
  }

  .he30 {
    margin-left: 20vh;
  }

  .he31 {
    margin-top: 20px;
    margin-left: 20vh;
  }
}

@media only screen and (min-width: 1200px) {
  .d {
    margin-left: 50vh;
    margin-top: 20vh;
  }

  .form{
    padding: 30px;
    box-shadow: 0px 0px 5px 5px rgb(220,220,220);
  }

  .he9,
  .he5{
    text-align: justify;
  }

  .he1 {
    margin-left: 75vh;
    margin-top: 5vh;
    width: 80vh;
    font-weight: 600;
  }

  .he2 {
    text-align: center;
    font-weight: bold;
  }

  .he3 {
    margin-top: 6vh;
  }

  .he10 {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .he11{
    color: rgb(0, 153, 255);
    font-weight: 600;
    font-size: 17px;
    font-family: sans-serif;
  }

  .he12 {
    background-color: rgb(0, 153, 255);
    border: 1px solid rgb(0, 153, 255);
    border-radius: 50%;
    float: right;
  }

  .he13 {
    color: white;
  }

  .he16{
    width: 62.3vh;
  }

  .he20 {
    border: 2px solid rgb(0, 153, 255);
    box-shadow: 0px 0px 2px 2px rgb(0, 153, 255);
    margin-top: 3vh;
    margin-bottom: 3vh;
    border-radius: 5px;
    padding: 10px;
  }

  .he17{
    width: 62.3vh;
  }

  .he21 {
    float: left;
    margin-left: 10px;
  }

  .he14 {
    margin-right: 25px;
    width: 47vh;
  }

  .he15 {
    width: 12vh;
  }

  .he22 {
    float: left;
    margin-left: 10px;
  }

  .he18 {
    width: 140px;
    margin-right: 30px;
  }

  .he25,
  .he24 {
    width: 93%;
    margin-left: 10px;
  }

  .he19 {
    width: 140px;    
    margin-right: -20px;
  }

  .he26 {
    float: left;
    margin-right: 50px;
  }

  .he28 {
    width: 130px;
  }

  .he30 {
    margin-left: 27vh;
    width: 10vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .he31 {
    margin-top: 20px;
    margin-left: 30vh;
  }
}
