@media only screen and (min-width: 320px) and (max-width: 479px) {
  .roww {
    width: 300px;
    margin-top: 4vh;
    margin-left: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .actcase {
    margin-top: 30px;
    font-weight: bold;
    font-size: 25px;
    margin-left: 21vh;
  }

  .cardd {
    margin-left: 4vh;
    padding: 0.75rem;
    margin-bottom: 2vh;
    margin-right: 10vh;
    border-radius: 15px;
    background-color: white;
    box-shadow: 10px 10px 10px #b3b3b3;
    flex-basis: 89.3%;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .my1 {
  }

  .my3 {
    margin-top: 2vh;
  }

  .my4 {
    font-size: 20px;
    font-weight: 600;
    margin-left: 40px;
  }

  .mytitle {
    text-align: center;
    font-weight: bold;
  }

  .myspan {
    font-size: 20px;
    font-weight: 600;
    margin-left: 5vh;
    float: left;
  }

  .myspan1 {
    float: left;
    font-size: 20px;
    font-weight: 600;
    margin-left: 2vh;
  }

  .cardd:hover {
    background-color: rgb(50, 50, 50);

    transition: ease-in-out;
    transition-duration: 0.6s;
    color: white;
  }

  .cardd-text {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    margin-top: 2vh;
    margin-left: 2.2vh;
  }

  .pendcase {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5vh;
    margin-left: -300px;
    margin-top: 20px;
  }

  .pendbg {
    background-color: #eeeeee;
  }

  .ssize {
    margin-left: 480px;
    font-size: 25px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .roww {
    width: 300px;
    margin-top: 4vh;
    margin-left: 15vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .actcase {
    margin-top: 30px;
    font-weight: bold;
    font-size: 30px;
    margin-left: 25vh;
  }

  .cardd {
    margin-left: 4vh;
    padding: 0.75rem;
    margin-bottom: 2vh;
    margin-right: 10vh;
    border-radius: 15px;
    background-color: white;
    box-shadow: 10px 10px 10px #b3b3b3;
    flex-basis: 89.3%;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .my1 {
  }

  .my3 {
    margin-top: 2vh;
  }

  .my4 {
    font-size: 20px;
    font-weight: 600;
    margin-left: 40px;
  }

  .mytitle {
    text-align: center;
    font-weight: bold;
  }

  .myspan {
    font-size: 20px;
    font-weight: 600;
    margin-left: 5vh;
    float: left;
  }

  .myspan1 {
    float: left;
    font-size: 20px;
    font-weight: 600;
    margin-left: 2vh;
  }

  .cardd:hover {
    background-color: rgb(50, 50, 50);

    transition: ease-in-out;
    transition-duration: 0.6s;
    color: white;
  }

  .cardd-text {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    margin-top: 2vh;
    margin-left: 2.2vh;
  }

  .pendcase {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5vh;
    margin-left: -300px;
    margin-top: 20px;
  }

  .pendbg {
    background-color: #eeeeee;
  }

  .ssize {
    margin-left: 480px;
    font-size: 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .roww {
    width: 500px;
    margin-top: 4vh;
    margin-left: 15vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .actcase {
    margin-top: 30px;
    font-weight: bold;
    font-size: 30px;
    margin-left: 25vh;
  }

  .cardd {
    margin-left: -2vh;
    padding: 0.75rem;
    margin-bottom: 2vh;
    margin-right: 6vh;
    border-radius: 15px;
    background-color: white;
    box-shadow: 10px 10px 10px #b3b3b3;
    flex-basis: 49.3%;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .my1 {
  }

  .my3 {
    margin-top: 2vh;
  }

  .my4 {
    font-size: 20px;
    font-weight: 600;
    margin-left: 40px;
  }

  .mytitle {
    text-align: center;
    font-weight: bold;
  }

  .myspan {
    font-size: 20px;
    font-weight: 600;
    margin-left: 5vh;
    float: left;
  }

  .myspan1 {
    float: left;
    font-size: 20px;
    font-weight: 600;
    margin-left: 2vh;
  }

  .cardd:hover {
    background-color: rgb(50, 50, 50);

    transition: ease-in-out;
    transition-duration: 0.6s;
    color: white;
  }

  .cardd-text {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    margin-top: 2vh;
    margin-left: 2.2vh;
  }

  .pendcase {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5vh;
    margin-left: -300px;
    margin-top: 20px;
  }

  .pendbg {
    background-color: #eeeeee;
  }

  .ssize {
    margin-left: 480px;
    font-size: 25px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .roww {
    width: 500px;
    margin-top: 4vh;
    margin-left: 15vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .actcase {
    margin-top: 30px;
    font-weight: bold;
    font-size: 30px;
    margin-left: 25vh;
  }

  .cardd {
    margin-left: 2vh;
    padding: 0.75rem;
    margin-bottom: 16vh;
    margin-right: 6vh;
    border-radius: 15px;
    background-color: white;
    box-shadow: 10px 10px 10px #b3b3b3;
    flex-basis: 59.3%;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .my1 {
  }

  .my3 {
    margin-top: 2vh;
  }

  .my4 {
    font-size: 20px;
    font-weight: 600;
    margin-left: 40px;
  }

  .mytitle {
    text-align: center;
    font-weight: bold;
  }

  .myspan {
    font-size: 20px;
    font-weight: 600;
    margin-left: 5vh;
    float: left;
  }

  .myspan1 {
    float: left;
    font-size: 20px;
    font-weight: 600;
    margin-left: 2vh;
  }

  .cardd:hover {
    background-color: rgb(50, 50, 50);

    transition: ease-in-out;
    transition-duration: 0.6s;
    color: white;
  }

  .cardd-text {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    margin-top: 2vh;
    margin-left: 2.2vh;
  }

  .pendcase {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5vh;
    margin-left: -300px;
    margin-top: 20px;
  }

  .pendbg {
    background-color: #eeeeee;
  }

  .ssize {
    margin-left: 480px;
    font-size: 25px;
  }
}

@media only screen and (min-width: 1200px) {
  .roww {
    margin-top: 4vh;
    margin-bottom: 5vh;
    margin-left: 0vh;
  }

  .actclosecase {
    margin-top: 4vh;
    width: 37vh;
    margin-left: 31vh;
    box-shadow: 0px 0px 2px 2px rgb(220, 220, 220);
  }

  .actcourtcase {
    margin-top: -7vh;
    width: 37vh;
    margin-left: 131vh;
    box-shadow: 0px 0px 2px 2px rgb(220, 220, 220);
  }

  .actcase {
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    letter-spacing: 2px;
  }

  .cardd {
    margin-top: 1vh;
    margin-left: 1vh;
    padding: 0.75rem;
    margin-bottom: 4vh;
    margin-right: 6vh;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 5px 5px rgb(220, 220, 220);
    flex-basis: 33%;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .my1 {
    margin-left: 28vh;
  }

  .my2 {
    margin-left: 2px;
  }

  .my3 {
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 2px;
  }

  .my4 {
    font-size: 20px;
    font-weight: bold;
    word-spacing: 4px;
  }

  .mytitle {
    text-align: center;
    font-weight: bold;
    margin-top: 1vh;
    margin-bottom: 3vh;
  }

  .myspan {
    font-size: 20px;
    font-weight: bold;
    float: left;
    word-spacing: 5px;
  }

  .myspan1 {
    float: left;
    font-size: 20px;
    letter-spacing: 0.5px;
    font-weight: bold;
    margin-left: 2vh;
    text-transform: capitalize;
  }

  .cardd:hover {
    background-color: rgb(50, 50, 50);
    transition: ease-in-out;
    transition-duration: 0.6s;
    color: white;
  }

  .cardd-text {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    display: inline;
    margin-left: 2vh;
    text-transform: capitalize;
  }

  .pendcase {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5vh;
    margin-left: -300px;
    margin-top: 20px;
  }

  .pendbg {
    background-color: #eeeeee;
  }

  .ssize {
    margin-left: 480px;
    font-size: 25px;
  }

  .ssearchinp {
    margin-top: -6vh;
    height: 5vh;
    box-shadow: 0px 0px 2px 2px rgb(220, 220, 220);
  }
}
