@media only screen and (min-width: 480px) and (max-width: 767px) {
  .CircularProgressbar {
    /*
         * This fixes an issue where the CircularProgressbar svg has
         * 0 width inside a "display: flex" container, and thus not visible.
         *
         * If you're not using "display: flex", you can remove this style.
         */
    width: 100%;
  }

  .CircularProgressbar .CircularProgressbar-path {
    stroke: #3e98c7;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease 0s;
  }

  .CircularProgressbar .CircularProgressbar-trail {
    stroke: #d6d6d6;
  }

  .CircularProgressbar .CircularProgressbar-text {
    fill: #3e98c7;
    font-size: 20px;
    dominant-baseline: middle;
    text-anchor: middle;
  }

  .CircularProgressbar .CircularProgressbar-background {
    fill: #d6d6d6;
  }

  /*
       * Sample background styles. Use these with e.g.:
       *
       *   <CircularProgressbar
       *     className="CircularProgressbar-inverted"
       *     background
       *     percentage={50}
       *   />
       */
  .CircularProgressbar.CircularProgressbar-inverted
    .CircularProgressbar-background {
    fill: #3e98c7;
  }

  .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
    fill: #fff;
  }

  .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
    stroke: #fff;
  }

  .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
    stroke: transparent;
  }

  .newdash1 {
    margin-left: 47vh;
    margin-top: 10vh;
    text-decoration: underline;
  }

  .newdash2 {
    margin-top: -3vh;
    width: 170px;
    height: 280px;
  }

  .newdash3 {
    width: 110px;
    height: 123px;
  }

  .newdash4 {
    margin-left: -400px;
  }

  .newdash5 {
    width: 50px;
    height: -20vh;
  }

  .newdash6 {
    background-color: black;
    border-radius: 100%;
  }

  .newdash7 {
    color: whitesmoke;
    margin-top: -10px;
    font-size: 20px;
  }

  .newdash8 {
    background-color: rgba(red, 0, blue, alpha);
    width: 17vh;
    margin-top: 15vh;
    margin-left: 25vh;
  }

  .newdash11 {
    text-align: center;
    font-size: 45px;
    margin-top: -20px;
  }

  .newdash13 {
    border-top: 1px solid black;
    width: 100%;
  }

  .newdash15 {
    width: 10px;
    height: 190px;
    margin-top: -50vh;
    margin-left: 36vh;
  }

  .newdash16 {
    margin-left: 70vh;
    margin-top: 4vh;
    font-size: 12px;
  }

  .newdash18 {
    margin-left: 105vh;
    margin-top: -30vh;
  }

  .newdash20 {
    margin-right: 1vh;
    font-size: 24px;
    color: #fc061e;
  }

  .newdash21 {
    font-size: 24px;
    color: #fc061e;
  }

  .newdash22 {
    margin-left: 105vh;
    margin-top: 3vh;
  }

  .newdash24 {
    margin-left: 32vh;
    margin-top: 13.5vh;
  }

  .newdash25 {
    margin-left: 32vh;
  }

  .newdash26 {
    font-size: 40px;

    color: #fc061e;
  }

  .newdash27 {
    font-size: 40px;

    color: #e8f009;
  }

  .newdash28 {
    margin-left: 32vh;
  }

  .newdash29 {
    font-size: 40px;

    color: #220dfc;
  }

  .newdash30 {
    margin-right: 1vh;
    font-size: 24px;

    color: #e8f009;
  }

  .newdash31 {
    font-size: 24px;

    color: #e8f009;
  }

  .newdash32 {
    margin-left: 35vh;
    margin-right: 1vh;
    font-size: 24px;
    color: #220dfc;
  }

  .newdash33 {
    font-size: 24px;

    color: #220dfc;
  }

  .d1 {
    margin-top: -25px;
  }
}

@media only screen and (min-width: 1200px) {
  /*
 * react-circular-progressbar styles
 *
 * All of the styles in this file are optional and configurable!
 */

  .CircularProgressbar {
    /*
       * This fixes an issue where the CircularProgressbar svg has
       * 0 width inside a "display: flex" container, and thus not visible.
       *
       * If you're not using "display: flex", you can remove this style.
       */
    width: 100%;
  }

  .CircularProgressbar .CircularProgressbar-path {
    stroke: #3e98c7;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease 0s;
  }

  .CircularProgressbar .CircularProgressbar-trail {
    stroke: #d6d6d6;
  }

  .CircularProgressbar .CircularProgressbar-text {
    fill: #3e98c7;
    font-size: 20px;
    dominant-baseline: middle;
    text-anchor: middle;
  }

  .CircularProgressbar .CircularProgressbar-background {
    fill: #d6d6d6;
  }

  /*
     * Sample background styles. Use these with e.g.:
     *
     *   <CircularProgressbar
     *     className="CircularProgressbar-inverted"
     *     background
     *     percentage={50}
     *   />
     */
  .CircularProgressbar.CircularProgressbar-inverted
    .CircularProgressbar-background {
    fill: #3e98c7;
  }

  .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
    fill: #fff;
  }

  .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
    stroke: #fff;
  }

  .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
    stroke: transparent;
  }

  #monthCard {
    position: absolute;
    width: 213px;
    height: 227px;
    left: 2%;
    top: 2%;
    overflow: visible;
  }
  .outterRectangle {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.502));
    position: absolute;
    overflow: visible;
    width: 231px;
    height: 245px;
    left: 0px;
    top: 0px;
  }
  #January {
    position: absolute;
    left: 63px;
    top: 1px;
    overflow: visible;
    width: 89px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
  }
  .line {
    overflow: visible;
    position: absolute;
    width: 194px;
    height: 1px;
    left: 8.5px;
    top: 43.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  .circle1 {
    position: absolute;
    overflow: visible;
    width: 30px;
    height: 30px;
    left: 146px;
    top: 77px;
  }
  .circle2 {
    position: absolute;
    overflow: visible;
    width: 30px;
    height: 30px;
    left: 146px;
    top: 125px;
  }
  .circle3 {
    position: absolute;
    overflow: visible;
    width: 30px;
    height: 30px;
    left: 146px;
    top: 173px;
  }
  #Criminal {
    position: absolute;
    left: 34px;
    top: 80px;
    overflow: visible;
    width: 71px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
  }
  #Civil {
    position: absolute;
    left: 34px;
    top: 128px;
    overflow: visible;
    width: 37px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
  }
  #Juvenile {
    position: absolute;
    left: 34px;
    top: 176px;
    overflow: visible;
    width: 71px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
  }
  #criminalCount {
    position: absolute;
    left: 155px;
    top: 85px;
    overflow: visible;
    width: 13px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    color: rgba(255, 255, 255, 1);
  }
  #civilCount {
    position: absolute;
    left: 151px;
    top: 134px;
    overflow: visible;
    width: 19px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    color: rgba(255, 255, 255, 1);
  }
  #juvenileCount {
    position: absolute;
    left: 155px;
    top: 180px;
    overflow: visible;
    width: 13px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    color: rgba(255, 255, 255, 1);
  }

  .newdash1 {
    margin-left: 47vh;
    margin-top: 10vh;
    text-decoration: underline;
  }

  .newdash22 {
    margin-top: -1vh;
    width: 290px;
    height: 280px;
    margin-left: 10vh;
  }

  .newdash33 {
    width: 200px;
    height: 220px;
  }

  .newdash4 {
    margin-left: -400px;
  }

  .newdash55 {
    width: 120px;
  }

  .newdash66 {
    background-color: black;
    border-radius: 100%;
  }

  .newdash77 {
    color: whitesmoke;
    margin-top: -10px;
  }

  .newdash8 {
    background-color: rgb(20, 20, 20);
    width: 30vh;
    height: 28vh;
    margin-top: 13vh;
    margin-left: 17vh;
    box-shadow: 0px 0px 5px 5px rgb(240, 240, 240);
  }

  .newdash9 {
    color: white;
    margin-top: 1.5vh;
  }

  .newdash11 {
    text-align: center;
    font-size: 30px;
    color: white;
    margin-bottom: 5vh;
    margin-top: -2vh;
    word-spacing: 5px;
  }

  .newdash13 {
    border-top: 3px solid white;
    width: 100%;
    margin-top: 0.5vh;
  }

  .newdash15 {
    width: 340px;
    height: 290px;
    margin-top: 5vh;
    margin-left: 40vh;
  }

  .color-boxx {
    margin-top: 1.5vh;
    width: 20px;
    height: 20px;
    background-color: #fc061e;
    border-radius: 50%;
  }

  .color-boxx1 {
    width: 20px;
    height: 20px;
    background-color: #220dfc;
    border-radius: 50%;
    margin-top: 8vh;
  }

  .color-boxx2 {
    width: 20px;
    height: 20px;
    background-color: #00ff00;
    border-radius: 50%;
    margin-top: 8vh;
  }

  .legendd {
    margin-left: 13vh;
    margin-right: 15vh;
    margin-top: 10vh;
  }

  .legg1 {
    font-size: 25px;
    font-weight: bold;
    color: #fc061e;
    margin-left: 7vh;
    word-spacing: 22px;
  }

  .legg2 {
    font-size: 25px;
    font-weight: bold;
    color: #220dfc;
    margin-left: 7vh;
    margin-top: 6.7vh;
    word-spacing: 15px;
  }

  .legg4 {
    font-size: 25px;
    font-weight: bold;
    color: #00ff00;
    margin-left: 7vh;
    margin-top: 6.7vh;
    word-spacing: 13px;
  }

  .d1 {
    margin-top: -25px;
  }

  .table5 {
    margin-left: 27vh;
    width: 85%;
  }

  .table1 {
    margin-left: 10vh;
    margin-top: 10vh;
  }

  .table2 {
    margin-left: 10vh;
  }

  .table3 {
    margin-left: 15vh;
  }

  .table4 {
    margin-left: 13vh;
  }

  .ddhead3 {
    font-weight: bold;
    margin-bottom: 7vh;
  }

  .tdciv {
    margin-left: 2vh;
  }

  .tablemonth td {
    border: 0;
  }

  .inn {
    margin-top: 4vh;
    width: 70vh;
    margin-left: 38.5vh;
    margin-bottom: 4vh;
    font-size: 23px;
    font-weight: bold;
  }

  .inn2 {
    box-shadow: 0px 0px 2px 2px rgb(220, 220, 220);
    width: 20vh;
    margin-bottom: -5vh;
  }
}
