.caseup1 {
  font-weight: 600;
  margin-left: 60vh;
  width: 50%;
}

#facts{
text-align: justify;
padding: 7px 20px;
}

.caseup2 {
  margin-top: 20vh;
}

.caseup3 {
  margin-top: 5vh;
  margin-left: 40vh;
}
