@media only screen and (min-width: 320px) and (max-width: 479px) {
  .ch1 {
    margin-top: -10vh;
    margin-left: 9vh;
    width: 80%;
  }

  .ch2 {
    text-align: center;

    margin-bottom: 10vh;
    font-size: 30px;
    font-weight: bold;
  }

  .ch3 {
    margin-bottom: 3vh;
  }

  .ch4 {
    font-size: 20px;
    font-weight: 600;
    margin-right: 25px;
  }

  .ch5,
  .ch8 {
    font-size: 20px;
    font-weight: 600;
  }

  .ch6 {
    margin-bottom: 3vh;
  }

  .ch7,
  .ch10 {
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
  }

  .ch9 {
    margin-bottom: 6vh;
  }

  .ch11 {
    font-size: 19px;
    font-weight: 400;
  }

  .ch12 {
    margin-top: 3vh;
  }

  .ch13,
  .ch14 {
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
  }

  .ch16 {
    margin-left: 8vh;
    margin-bottom: 10vh;
  }

  .ch15 {
    border: none;
    margin-left: 10px;
    margin-top: -10px;
  }

  .ch17 {
    margin-top: -10px;
  }

  .ch20 {
    color: red;
    margin-top: -10px;
  }

  .curtable100 {
    width: 50px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .ch1 {
    margin-left: 9vh;
    width: 80%;
    font-family: Montserrat, "sans-serif";
  }

  .ch2 {
    text-align: center;

    margin-bottom: 10vh;
    font-size: 30px;
    font-weight: bold;
  }

  .ch3 {
    margin-bottom: 3vh;
  }

  .ch4 {
    font-size: 20px;
    font-weight: 600;
    margin-right: 25px;
  }

  .ch5,
  .ch8 {
    font-size: 20px;
    font-weight: 600;
  }

  .ch6 {
    margin-bottom: 3vh;
  }

  .ch7,
  .ch10 {
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
  }

  .ch9 {
    margin-bottom: 6vh;
  }

  .ch11 {
    font-size: 19px;
    font-weight: 400;
  }

  .ch12 {
    margin-top: 3vh;
  }

  .ch13,
  .ch14 {
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
  }

  .ch16 {
    margin-left: 18vh;
    margin-bottom: 10vh;
  }

  .ch15 {
    border: none;
    margin-left: 10px;
    margin-top: -10px;
  }

  .ch17 {
    margin-top: -10px;
  }

  .ch20 {
    color: red;
    margin-top: -10px;
  }

  .curtable100 {
    width: 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .ch1 {
    margin-top: -10vh;
    margin-left: 9vh;
    width: 80%;
    font-family: Montserrat, "sans-serif";
  }

  .ch2 {
    text-align: center;

    margin-bottom: 10vh;
    font-size: 30px;
    font-weight: bold;
  }

  .ch3 {
    margin-bottom: 3vh;
  }

  .ch4 {
    font-size: 20px;
    font-weight: 600;
    margin-right: 25px;
  }

  .ch5,
  .ch8 {
    font-size: 20px;
    font-weight: 600;
  }

  .ch6 {
    margin-bottom: 3vh;
  }

  .ch7,
  .ch10 {
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
  }

  .ch9 {
    margin-bottom: 6vh;
  }

  .ch11 {
    font-size: 19px;
    font-weight: 400;
  }

  .ch12 {
    margin-top: 3vh;
  }

  .ch13,
  .ch14 {
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
  }

  .ch16 {
    margin-left: 18vh;
    margin-bottom: 10vh;
  }

  .ch15 {
    border: none;
    margin-left: 10px;
    margin-top: -10px;
  }

  .ch17 {
    margin-top: -10px;
  }

  .ch20 {
    color: red;
    margin-top: -10px;
  }

  .curtable100 {
    width: 50px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .ch1 {
    margin-top: -10vh;
    margin-left: 9vh;
    width: 80%;
    font-family: Montserrat, "sans-serif";
  }

  .ch2 {
    text-align: center;

    margin-bottom: 10vh;
    font-size: 30px;
    font-weight: bold;
  }

  .ch3 {
    margin-bottom: 3vh;
  }

  .ch4 {
    font-size: 20px;
    font-weight: 600;
    margin-right: 25px;
  }

  .ch5,
  .ch8 {
    font-size: 20px;
    font-weight: 600;
  }

  .ch6 {
    margin-bottom: 3vh;
  }

  .ch7,
  .ch10 {
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
  }

  .ch9 {
    margin-bottom: 6vh;
  }

  .ch11 {
    font-size: 19px;
    font-weight: 400;
  }

  .ch12 {
    margin-top: 3vh;
  }

  .ch13,
  .ch14 {
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
  }

  .ch16 {
    margin-left: 18vh;
    margin-bottom: 10vh;
  }

  .ch15 {
    border: none;
    margin-left: 10px;
    margin-top: -10px;
  }

  .ch17 {
    margin-top: -10px;
  }

  .ch20 {
    color: red;
    margin-top: -10px;
  }

  .curtable100 {
    width: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  .ch1 {
    margin-top: 5vh;
    margin-left: 35vh;
    margin-right: 10vh;
  }

  .ch2 {
    margin-bottom: 10vh;
    font-size: 25px;
    font-weight: bold;
    word-spacing: 5px;
  }

  .ch3 {
    margin-bottom: 3vh;
  }

  .ch4 {
    font-size: 20px;
    font-weight: bold;
    margin-right: 25px;
    word-spacing: 20px;
  }

  .ch5,
  .ch8 {
    font-size: 20px;
    font-weight: 600;
  }  

  .ch7 {
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
    word-spacing: 10px;
  }

  .ch10 {
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
    word-spacing: 29px;
  }

  .ch9 {
    margin-bottom: 6vh;
  }

  .curjudge{
    font-weight: bold;
    font-size: 20px;
  }

  .curlawyer{
    font-weight: bold;
    font-size: 20px;
    margin-left: 0.6vh;
  }  

  .ch11 {
    font-size: 19px;
    font-weight: 600;
    margin-left: 14.8vh;
    margin-top: -4.2vh;
    text-align: justify;
    margin-right: -1.5vh;
    word-spacing: 5px;
  }

  .ch12 {
    margin-top: 3vh;
    margin-bottom: 5vh;
  }

  .ch13,
  .ch14 {
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
  }

  .ch16 {
    margin-left: 50vh;
    margin-bottom: 7vh;
  } 

  .ch20 {
    margin-left: 15px;
    font-size: 22px;
  }

  .ic:hover{
    cursor: pointer;
  }

  .tablehear{
    background-color: rgb(50,50,50);
    color: white;
  }
}
