@media only screen and (min-width: 320px) and (max-width: 479px) {
  .new2 {
    margin-top: 5vh;
    margin-left: 10vh;
    width: 70%;
  }

  .new1,
  .l1,
  .l5,
  .l9,
  .co1 {
    box-shadow: 0px 0px 10px #994646;
    border: 2px solid none;
  }

  .new4,
  .l4,
  .l7,
  .l11,
  .co3 {
    text-align: center;
  }

  .newcasebtn {
    float: right;
  }

  .newcasebtn1 {
    float: left;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .new2 {
    margin-top: 5vh;
    margin-left: 10vh;
    width: 80%;
  }

  .new1,
  .l1,
  .l5,
  .l9,
  .co1 {
    box-shadow: 0px 0px 10px #994646;
    border: 2px solid none;
  }

  .new4,
  .l4,
  .l7,
  .l11,
  .co3 {
    text-align: center;
  }

  .newcasebtn {
    float: right;
  }

  .newcasebtn1 {
    float: left;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .new2 {
    margin-top: 5vh;
    margin-left: 18vh;
    width: 60%;
  }

  .new1,
  .l1,
  .l5,
  .l9,
  .co1 {
    box-shadow: 0px 0px 10px #994646;
    border: 2px solid none;
  }

  .new4,
  .l4,
  .l7,
  .l11,
  .co3 {
    text-align: center;
  }

  .newcasebtn {
    float: right;
  }

  .newcasebtn1 {
    float: left;
  }
}

@media only screen and (min-width: 1200px) {
  .new2 {
    margin-top: 3vh;
    margin-left: 80vh;
    width: 30%;
    background-color: blue;
  }

  .new1,
  .l1,
  .l5,
  .l9,
  .co1 {
    box-shadow: 0px 0px 5px 5px rgb(220, 220, 220);
    border: 2px solid none;
    margin-bottom: 3vh;
  }

  .new4,
  .l4,
  .l7,
  .l11,
  .co3 {
    text-align: center;
    font-weight: bold;
  }

  .newcasebtn {
    float: right;
  }

  .newcasebtn1 {
    float: left;
  }
}
