@media only screen and (min-width: 320px) and (max-width: 479px) {
  .close1 {
    width: 340px;
    border-radius: 10px;
    padding: 10px;
    word-spacing: 4px;
    background-color: white(228, 228, 228);
    margin-bottom: 7vh;
    margin-top: 13vh;
    margin-left: 2vh;
  }

  .close1:hover {
    background-color: rgb(50, 50, 50);
    transition: ease-in-out;
    transition-duration: 0.5s;
    color: white;
    cursor: pointer;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  .close8 {
    background-image: radial-gradient(rgba(1, 1, 1, 0.8), rgba(1, 1, 1, 0.9));
    height: 100vh;
    overflow-y: scroll;
  }

  .close2 {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
  }

  .close4 {
    font-weight: bold;
    font-size: 20px;
    text-align: justify;
    text-transform: capitalize;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .close1 {
    width: 340px;
    border-radius: 10px;
    padding: 10px;
    word-spacing: 4px;
    background-color: white(228, 228, 228);
    margin-bottom: 7vh;
    margin-top: 13vh;
    margin-left: 14vh;
  }

  .close1:hover {
    background-color: rgb(50, 50, 50);
    transition: ease-in-out;
    transition-duration: 0.5s;
    color: white;
    cursor: pointer;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  .close8 {
    background-image: radial-gradient(rgba(1, 1, 1, 0.8), rgba(1, 1, 1, 0.9));
    height: 100vh;
    overflow-y: scroll;
  }

  .close2 {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
  }

  .close4 {
    font-weight: bold;
    font-size: 20px;
    text-align: justify;
    text-transform: capitalize;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .close1 {
    width: 370px;
    border-radius: 10px;
    padding: 10px;
    word-spacing: 4px;
    background-color: white(228, 228, 228);
    margin-bottom: 7vh;
    margin-top: 13vh;
    margin-left: 21vh;
  }

  .close1:hover {
    background-color: rgb(50, 50, 50);
    transition: ease-in-out;
    transition-duration: 0.5s;
    color: white;
    cursor: pointer;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  .close8 {
    background-image: radial-gradient(rgba(1, 1, 1, 0.8), rgba(1, 1, 1, 0.9));
    height: 100vh;
    overflow-y: scroll;
  }

  .close2 {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
  }

  .close4 {
    font-weight: bold;
    font-size: 20px;
    text-align: justify;
    text-transform: capitalize;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .close1 {
    width: 370px;
    border-radius: 10px;
    padding: 10px;
    word-spacing: 4px;
    background-color: white(228, 228, 228);
    margin-bottom: 7vh;
    margin-top: 13vh;
    margin-left: 10vh;
  }

  .close1:hover {
    background-color: rgb(50, 50, 50);
    transition: ease-in-out;
    transition-duration: 0.5s;
    color: white;
    cursor: pointer;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  .close8 {
    background-image: radial-gradient(rgba(1, 1, 1, 0.8), rgba(1, 1, 1, 0.9));
    height: 100vh;
    overflow-y: scroll;
  }

  .close2 {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
  }

  .close4 {
    font-weight: bold;
    font-size: 20px;
    text-align: justify;
    text-transform: capitalize;
  }
}

@media only screen and (min-width: 1200px) {
  .close1 {
    width: 380px;
    border-radius: 10px;
    padding: 10px;
    word-spacing: 6px;
    background-color: white(228, 228, 228);
    margin-bottom: 5vh;
    margin-top: 0vh;
    margin-left: 9vh;
    margin-right: 9vh;
  }

  .close1:hover {
    background-color: rgb(50, 50, 50);
    transition: ease-in-out;
    transition-duration: 0.5s;
    color: white;
    cursor: pointer;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  .close8 {
    background-image: radial-gradient(rgba(1, 1, 1, 0.8), rgba(1, 1, 1, 0.9));
    height: 100vh;
    overflow: hidden;
  }

  .close2 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: 0vh;
  }

  .close4 {
    font-weight: bold;
    font-size: 20px;
    text-align: justify;
    text-transform: capitalize;
    word-spacing: 6px;
  }

  .actssearch-label{
    margin-top: 20vh;
    margin-left: 75.7vh;
    margin-bottom: 4vh;
    width: 50vh;
 }

 .fact{
   margin-left: 9.7vh;
   margin-top: -5.9vh;
   font-weight: bold;
   font-size: 19px;
   text-align: justify;
   margin-right: 1vh;
   text-transform: capitalize;
 }
}
