@media only screen and (min-width: 320px) and (max-width: 479px) {
  .ss1 {
    margin-top: 1vh;
    margin-left: 0vh;
  }
  .ssearch-label {
    margin-left: 4vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 88%;
  }

  .ssearch-icon {
    position: absolute;
    margin-top: 0vh;
    font-size: 17px;
    color: rgb(4, 21, 255);
    right: 10px;
  }

  .ssearchcard {
    width: 340px;
    border-radius: 10px;
    padding: 10px;
    word-spacing: 4px;
    background-color: white(228, 228, 228);
    margin-bottom: 0vh;
    margin-top: 13vh;
    margin-left: 4vh;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  .ssearchcard:hover {
    background-color: rgb(50, 50, 50);
    transition: ease-in-out;
    transition-duration: 0.5s;
    color: white;
    cursor: pointer;
  }

  .sstitle {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
  }

  .ssearchbody {
    font-weight: bold;
    font-size: 20px;
    text-align: justify;
  }

  .ssearchinp {
    letter-spacing: 0.5px;
  }

  .deptsearch1 {
    background-image: radial-gradient(rgba(1, 1, 1, 0.8), rgba(1, 1, 1, 0.9));
    height: 100vh;
    overflow-y: scroll;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .ss1 {
    margin-top: 1vh;
    margin-left: 0vh;
  }
  .ssearch-label {
    margin-left: 16vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 48%;
  }

  .ssearch-icon {
    position: absolute;
    margin-top: 0vh;
    font-size: 17px;
    color: rgb(4, 21, 255);
    right: 10px;
  }

  .ssearchcard {
    width: 340px;
    border-radius: 10px;
    padding: 10px;
    word-spacing: 4px;
    background-color: white(228, 228, 228);
    margin-bottom: 0vh;
    margin-top: 13vh;
    margin-left: 15vh;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  .ssearchcard:hover {
    background-color: rgb(50, 50, 50);
    transition: ease-in-out;
    transition-duration: 0.5s;
    color: white;
    cursor: pointer;
  }

  .sstitle {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
  }

  .ssearchbody {
    font-weight: bold;
    font-size: 20px;
    text-align: justify;
  }

  .ssearchinp {
    letter-spacing: 0.5px;
  }

  .deptsearch1 {
    background-image: radial-gradient(rgba(1, 1, 1, 0.8), rgba(1, 1, 1, 0.9));
    height: 100vh;
    overflow-y: scroll;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .ss1 {
    margin-top: 1vh;
    margin-left: 0vh;
  }
  .ssearch-label {
    margin-left: 18vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 48%;
  }

  .ssearch-icon {
    position: absolute;
    margin-top: 0vh;
    font-size: 17px;
    color: rgb(4, 21, 255);
    right: 10px;
  }

  .ssearchcard {
    width: 340px;
    border-radius: 10px;
    padding: 10px;
    word-spacing: 4px;
    background-color: white(228, 228, 228);
    margin-bottom: 0vh;
    margin-top: 13vh;
    margin-left: 21vh;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  .ssearchcard:hover {
    background-color: rgb(50, 50, 50);
    transition: ease-in-out;
    transition-duration: 0.5s;
    color: white;
    cursor: pointer;
  }

  .sstitle {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
  }

  .ssearchbody {
    font-weight: bold;
    font-size: 20px;
    text-align: justify;
  }

  .ssearchinp {
    letter-spacing: 0.5px;
  }

  .deptsearch1 {
    background-image: radial-gradient(rgba(1, 1, 1, 0.8), rgba(1, 1, 1, 0.9));
    height: 100vh;
    overflow-y: scroll;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .ss1 {
    margin-top: 1vh;
    margin-left: 0vh;
  }
  .ssearch-label {
    margin-left: 20vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 48%;
  }

  .ssearch-icon {
    position: absolute;
    margin-top: 0vh;
    font-size: 17px;
    color: rgb(4, 21, 255);
    right: 10px;
  }

  .ssearchcard {
    width: 340px;
    border-radius: 10px;
    padding: 10px;
    word-spacing: 4px;
    background-color: white(228, 228, 228);
    margin-bottom: 0vh;
    margin-top: 13vh;
    margin-left: 9vh;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  .ssearchcard:hover {
    background-color: rgb(50, 50, 50);
    transition: ease-in-out;
    transition-duration: 0.5s;
    color: white;
    cursor: pointer;
  }

  .sstitle {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
  }

  .ssearchbody {
    font-weight: bold;
    font-size: 20px;
    text-align: justify;
  }

  .ssearchinp {
    letter-spacing: 0.5px;
  }

  .deptsearch1 {
    background-image: radial-gradient(rgba(1, 1, 1, 0.8), rgba(1, 1, 1, 0.9));
    height: 100vh;
    overflow-y: scroll;
  }
}

@media only screen and (min-width: 1200px) {
  .ss1 {
    margin-top: 1vh;
    margin-left: 0vh;
  }
  .ssearch-label {
    margin-left: 81vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 18%;
  }

  .ssearch-icon {
    position: absolute;
    margin-top: 0vh;
    font-size: 17px;
    color: rgb(4, 21, 255);
    right: 10px;
  }

  .ssearchcard {
    width: 340px;
    border-radius: 10px;
    padding: 10px;
    word-spacing: 4px;
    background-color: white(228, 228, 228);
    margin-bottom: 7vh;
    margin-top: 13vh;
    margin-left: 6vh;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  .ssearchcard:hover {
    background-color: rgb(50, 50, 50);
    transition: ease-in-out;
    transition-duration: 0.5s;
    color: white;
    cursor: pointer;
  }

  .sstitle {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
  }

  .ssearchbody {
    font-weight: bold;
    font-size: 20px;
    text-align: justify;
  }

  .ssearchinp {
    letter-spacing: 0.5px;
  }

  .deptsearch1 {
    background-image: radial-gradient(rgba(1, 1, 1, 0.8), rgba(1, 1, 1, 0.9));
    height: 100vh;
    overflow-y: scroll;
  }
}
